<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masonrussell.firedynamics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".FlashOver" />
        <activity android:name=".HRR" />
        <activity android:name=".FlameHeight" />
        <activity android:name=".RadiationPoolFire" />
        <activity android:name=".OpenPipe" />
        <activity android:name=".T2Fires" />
        <activity android:name=".Conduction" />
        <activity android:name=".GasConcentration" />
        <activity android:name=".SolidIgnition" />
        <activity android:name=".TGasLayer" />
        <activity android:name=".OxygenLevels" />
        <activity android:name=".SelfHeating" />
        <activity android:name=".GasAmount" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>